(
    axes: {
        "vehicle_forward": (
            pos: Key(W),
            neg: Key(S),
        ),
        "vehicle_turn": (
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {
        "quit": (
            key: Key(Escape),
        ),
    }
)
