List((
    texture_width: 1000,
    texture_height: 500,
    sprites: [

        (x: 600, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        
        (x: 500, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 400, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 300, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 200, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 100, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 0, y: 300, width: 100, height: 100, offsets: Some((00.0, 0.0))),

        (x: 900, y: 200, width: 100, height: 100, offsets: Some((00.0, 0.0))),
        (x: 800, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 700, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))), 
        (x: 600, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 500, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 400, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 300, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 200, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 100, y: 200, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 0, y: 200, width: 100, height: 100, offsets: Some((00.0, 0.0))),
        
        (x: 900, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 800, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 700, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))), 
        (x: 600, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 500, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 400, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 300, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 200, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 100, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 0, y: 100, width: 100, height: 100, offsets: Some((0.0, 0.0))),

        (x: 900, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 800, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 700, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))), 
        (x: 600, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 500, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 400, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 300, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 200, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 100, y: 0, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 0, y:0, width: 100, height: 100, offsets: Some((0.0, 0.0))),


        (x: 700, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 600, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 500, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 400, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 300, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 200, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 100, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 0, y: 400, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        
        (x: 900, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 800, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),
        (x: 700, y: 300, width: 100, height: 100, offsets: Some((0.0, 0.0))),

        
    ],
))