List((
    texture_width: 38,  // Width of the texture used by the sprite sheet
    texture_height: 67, // Height of the texture used by the sprite sheet
    sprites: [
        (
            x: 0,      // Horizontal position of the sprite in the sprite sheet
            y: 0,      // Vertical position of the sprite in the sprite sheet
            width: 38,  // Width of the sprite
            height: 67, // Height of the sprite
            offsets: Some((0.0, 0.0)), // Number of pixels to shift the sprite when rendering
        ),
    ],
))