#![enable(implicit_some)]
SpriteSheetSpec(
    texture_width: 251,
    texture_height: 553,
    sprites: [
        SpriteSpec(
            // 0: Brown_CIVIC_CLEAN_All_000.png
            x: 1,
            y: 1,
            width: 58,
            height: 38,
            offsets: (2, 3),
        ),
        SpriteSpec(
            // 1: Brown_CIVIC_CLEAN_All_001.png
            x: 61,
            y: 1,
            width: 58,
            height: 38,
            offsets: (2, 3),
        ),
        SpriteSpec(
            // 2: Brown_CIVIC_CLEAN_All_002.png
            x: 121,
            y: 1,
            width: 60,
            height: 41,
            offsets: (2, 2.5),
        ),
        (
            // 3: Brown_CIVIC_CLEAN_All_003.png
            x: 183,
            y: 1,
            width: 62,
            height: 45,
            offsets: (2, 2.5),
        ),
        SpriteSpec(
            // 4: Brown_CIVIC_CLEAN_All_004.png
            x: 1,
            y: 48,
            width: 62,
            height: 48,
            offsets: (2, 2),
        ),
        SpriteSpec(
            // 5: Brown_CIVIC_CLEAN_All_005.png
            x: 65,
            y: 48,
            width: 59,
            height: 51,
            offsets: (1.5, 1.5),
        ),
        SpriteSpec(
            // 6: Brown_CIVIC_CLEAN_All_006.png
            x: 126,
            y: 48,
            width: 55,
            height: 52,
            offsets: (1.5, 1),
        ),
        SpriteSpec(
            // 7: Brown_CIVIC_CLEAN_All_007.png
            x: 183,
            y: 48,
            width: 50,
            height: 52,
            offsets: (1, 1),
        ),
        SpriteSpec(
            // 8: Brown_CIVIC_CLEAN_All_008.png
            x: 1,
            y: 102,
            width: 45,
            height: 52,
            offsets: (0.5, 1),
        ),
        SpriteSpec(
            // 9: Brown_CIVIC_CLEAN_All_009.png
            x: 48,
            y: 102,
            width: 41,
            height: 51,
            offsets: (0.5, 0.5),
        ),
        SpriteSpec(
            // 10: Brown_CIVIC_CLEAN_All_010.png
            x: 91,
            y: 102,
            width: 38,
            height: 51,
            offsets: (0, 0.5),
        ),
        SpriteSpec(
            // 11: Brown_CIVIC_CLEAN_All_011.png
            x: 131,
            y: 102,
            width: 37,
            height: 51,
            offsets: (-0.5, 0.5),
        ),
        SpriteSpec(
            // 12: Brown_CIVIC_CLEAN_All_012.png
            x: 170,
            y: 102,
            width: 38,
            height: 50,
            offsets: (0, 1),
        ),
        SpriteSpec(
            // 13: Brown_CIVIC_CLEAN_All_013.png
            x: 210,
            y: 102,
            width: 37,
            height: 51,
            offsets: (0.5, 0.5),
        ),
        SpriteSpec(
            // 14: Brown_CIVIC_CLEAN_All_014.png
            x: 1,
            y: 156,
            width: 39,
            height: 51,
            offsets: (-0.5, 0.5),
        ),
        SpriteSpec(
            // 15: Brown_CIVIC_CLEAN_All_015.png
            x: 42,
            y: 156,
            width: 42,
            height: 51,
            offsets: (-1, 0.5),
        ),
        SpriteSpec(
            // 16: Brown_CIVIC_CLEAN_All_016.png
            x: 86,
            y: 156,
            width: 46,
            height: 52,
            offsets: (-1, 1),
        ),
        SpriteSpec(
            // 17: Brown_CIVIC_CLEAN_All_017.png
            x: 134,
            y: 156,
            width: 51,
            height: 52,
            offsets: (-1.5, 1),
        ),
        SpriteSpec(
            // 18: Brown_CIVIC_CLEAN_All_018.png
            x: 187,
            y: 156,
            width: 55,
            height: 52,
            offsets: (-1.5, 1),
        ),
        SpriteSpec(
            // 19: Brown_CIVIC_CLEAN_All_019.png
            x: 1,
            y: 210,
            width: 58,
            height: 51,
            offsets: (-2, 1.5),
        ),
        SpriteSpec(
            // 20: Brown_CIVIC_CLEAN_All_020.png
            x: 61,
            y: 210,
            width: 61,
            height: 50,
            offsets: (-1.5, 2),
        ),
        SpriteSpec(
            // 21: Brown_CIVIC_CLEAN_All_021.png
            x: 124,
            y: 210,
            width: 62,
            height: 48,
            offsets: (-2, 2),
        ),
        SpriteSpec(
            // 22: Brown_CIVIC_CLEAN_All_022.png
            x: 188,
            y: 210,
            width: 62,
            height: 45,
            offsets: (-2, 2.5),
        ),
        SpriteSpec(
            // 23: Brown_CIVIC_CLEAN_All_023.png
            x: 1,
            y: 263,
            width: 60,
            height: 42,
            offsets: (-2, 3),
        ),
        SpriteSpec(
            // 24: Brown_CIVIC_CLEAN_All_024.png
            x: 63,
            y: 263,
            width: 58,
            height: 38,
            offsets: (-2, 3),
        ),
        SpriteSpec(
            // 25: Brown_CIVIC_CLEAN_All_025.png
            x: 123,
            y: 263,
            width: 60,
            height: 40,
            offsets: (-2, 4),
        ),
        SpriteSpec(
            // 26: Brown_CIVIC_CLEAN_All_026.png
            x: 185,
            y: 263,
            width: 62,
            height: 42,
            offsets: (-2, 5),
        ),
        SpriteSpec(
            // 27: Brown_CIVIC_CLEAN_All_027.png
            x: 1,
            y: 307,
            width: 62,
            height: 43,
            offsets: (-2, 6.5),
        ),
        SpriteSpec(
            // 28: Brown_CIVIC_CLEAN_All_028.png
            x: 65,
            y: 307,
            width: 61,
            height: 46,
            offsets: (-1.5, 6),
        ),
        SpriteSpec(
            // 29: Brown_CIVIC_CLEAN_All_029.png
            x: 128,
            y: 307,
            width: 58,
            height: 47,
            offsets: (-2, 6.5),
        ),
        SpriteSpec(
            // 30: Brown_CIVIC_CLEAN_All_030.png
            x: 188,
            y: 307,
            width: 55,
            height: 49,
            offsets: (-1.5, 6.5),
        ),
        SpriteSpec(
            // 31: Brown_CIVIC_CLEAN_All_031.png
            x: 1,
            y: 358,
            width: 51,
            height: 49,
            offsets: (-1.5, 6.5),
        ),
        SpriteSpec(
            // 32: Brown_CIVIC_CLEAN_All_032.png
            x: 54,
            y: 358,
            width: 46,
            height: 49,
            offsets: (-1, 6.5),
        ),
        SpriteSpec(
            // 33: Brown_CIVIC_CLEAN_All_033.png
            x: 102,
            y: 358,
            width: 42,
            height: 48,
            offsets: (-1, 6),
        ),
        SpriteSpec(
            // 34: Brown_CIVIC_CLEAN_All_034.png
            x: 146,
            y: 358,
            width: 39,
            height: 47,
            offsets: (-0.5, 6.5),
        ),
        SpriteSpec(
            // 35: Brown_CIVIC_CLEAN_All_035.png
            x: 187,
            y: 358,
            width: 37,
            height: 46,
            offsets: (0.5, 6),
        ),
        SpriteSpec(
            // 36: Brown_CIVIC_CLEAN_All_036.png
            x: 1,
            y: 409,
            width: 38,
            height: 45,
            offsets: (0, 6.5),
        ),
        SpriteSpec(
            // 37: Brown_CIVIC_CLEAN_All_037.png
            x: 41,
            y: 409,
            width: 37,
            height: 46,
            offsets: (-0.5, 6),
        ),
        SpriteSpec(
            // 38: Brown_CIVIC_CLEAN_All_038.png
            x: 80,
            y: 409,
            width: 38,
            height: 47,
            offsets: (0, 6.5),
        ),
        SpriteSpec(
            // 39: Brown_CIVIC_CLEAN_All_039.png
            x: 120,
            y: 409,
            width: 41,
            height: 48,
            offsets: (0.5, 6),
        ),
        SpriteSpec(
            // 40: Brown_CIVIC_CLEAN_All_040.png
            x: 163,
            y: 409,
            width: 45,
            height: 48,
            offsets: (0.5, 6),
        ),
        SpriteSpec(
            // 41: Brown_CIVIC_CLEAN_All_041.png
            x: 1,
            y: 459,
            width: 50,
            height: 49,
            offsets: (1, 6.5),
        ),
        SpriteSpec(
            // 42: Brown_CIVIC_CLEAN_All_042.png
            x: 53,
            y: 459,
            width: 55,
            height: 49,
            offsets: (1.5, 6.5),
        ),
        SpriteSpec(
            // 43: Brown_CIVIC_CLEAN_All_043.png
            x: 110,
            y: 459,
            width: 59,
            height: 47,
            offsets: (1.5, 6.5),
        ),
        SpriteSpec(
            // 44: Brown_CIVIC_CLEAN_All_044.png
            x: 171,
            y: 459,
            width: 62,
            height: 44,
            offsets: (2, 6),
        ),
        SpriteSpec(
            // 45: Brown_CIVIC_CLEAN_All_045.png
            x: 1,
            y: 510,
            width: 62,
            height: 42,
            offsets: (2, 5),
        ),
        SpriteSpec(
            // 46: Brown_CIVIC_CLEAN_All_046.png
            x: 65,
            y: 510,
            width: 60,
            height: 40,
            offsets: (2, 4),
        ),
        SpriteSpec(
            // 47: Brown_CIVIC_CLEAN_All_047.png
            x: 127,
            y: 510,
            width: 58,
            height: 38,
            offsets: (2, 3),
        )
    ]
)